html,
body,
#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #e6e6e6;
  --text: #191919;
}

[data-theme="dark"] {
  --background: #1a1a1a;
  --text: #e6e6e6;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Montserrat, sans-serif;
}

.dashboard,
.main-content,
.header {
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 42px;
  height: 42px;
  margin-right: 0.3rem;
}

.logo p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #61a561;
}

h3 {
  color: #e6e6e6;
  text-align: center;
}

.tag {
  font-size: 1rem;
  font-weight: 600;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background);
  color: var(--text);
}

.header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background);
  color: var(--text);
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  display: block !important;
}

.shipment-list {
  padding: 1rem;
  background-color: var(--background);
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.shipment-item {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text);
  display: grid;
}

.theme-toggle {
  padding: 0.5rem 1rem;
  background-color: #61a561;
  color: #e6e6e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.theme-toggle:hover {
  background-color: #71ae71;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .logo img {
    width: 32px;
    height: 32px;
  }
  .shipment-list {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .logo img {
    width: 25px;
    height: 25px;
  }
  h3 {
    font-size: 1rem;
    font-weight: 500;
  }
  .shipment-item {
    padding: 0.5rem;
  }
  .theme-toggle {
    padding: 0.3rem 0.7rem;
  }
  .header {
    padding: 0rem 1rem;
  }
}
